.navbar-collapse{
    font-size: large;
  }
.navbar{
    padding-right: 100px;
    transition: transform 0s ease-in-out;
}
.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }
.bg-nav{
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}